*{
    margin: 0;
    /*background-color: black;*/
}
.navbar{
    width: 100%;
    height: 6rem;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    border: 1px solid black;
}s

.logo{
  width: 10%;
  border: 1px solid blue;
}

.logo img{
  width: 80px;
  padding-left: 1rem;

}

.list{
  width: 55%;
  height: 4rem;
  align-items: center;
  display: flex;
  
}

.list ul li{
  list-style-type: none;
  width: 150px;
  
}

.list ul{
  display: flex;
}

.list ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
.btn{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 4rem;
  align-items: center;
}
.btn button{
  width: ;
  font-size: 1em;
  height: 2.3em;
  padding: 0.5em 1.85em 0.5em 1.85em;
  border: 2px solid #fff;
  border-radius: 1.8em;
  background: transparent;
  color: #fff;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

.navbar> .btn{
  float: right;
}

.video video{
  width: 100%;
}

.text{
  display:flex;
  flex-direction: column;
align-items: center;
}

.text h1{
  font-size: 70px;
  line-height: 63px;
}
.text h2{
  font-size: 42px;
  line-height: 45px;
  margin-top: 5px;
}

.text h3{
  font-size: 42px;
  margin-top: 0;
  color: #1636ff;
}

img{
  width: 100%;
  height: auto;
}

.pepsi-diner{
  display: flex;
  flex-direction: column;
  background-color: #000;
}
 .pepsi-diner-header{
  text-align: center;
  padding: 1rem 0 1 rem 0;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

.pepsi-diner-header h2{
  font-size: 70px;
  margin: 0;
}

.pepsi-diner-header h3{
  font-size: 50px;
  margin-bottom: 2px;
  line-height: 30px;
}

.electric{
  color: #1636ff;
  font-size: 70px;
  line-height: 70px;
}

.legal p{
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
  font-weight: 300;
  text-align: center;
  line-height: 1.15;
  /*color: #fff*/
}


.background{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content:space-between;
  align-items: center;
  background-image: url(./background.png);
}

.left-bottle{
  display: flex;
  width: 35%;
  height: 53.281vw;
  bottom: 0;
  background-position: right bottom -80px;
}

.right-items{
  width: 60%;
  display: flex;
  flex-direction:column;
  height: 100%;
  align-items: center;
}

.right-unlock{
  display: flex;
  width: 488px;
  height: 306px;
}

.btn{
  font-size: 1em;
  width: 15rem;
  height: 2.3em;
  padding: 0em 0.5em;
  border: 2px solid #fff;
  border-radius: 1.8em;
  background: transparent;
  color: #fff;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-left: 338px;
}

.peragraph{
  width: 422px;
  height: 38.63px;
  margin: 45px 0px;
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

.peragraph .link{
  text-decoration: none;
  color: #fff;
}

.social{
  background-color: #000;
  padding-bottom: 44px;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  color: #1636ff;
}

.tittle-container{
  margin: auto;
  text-align: center;
  -webkit-box-direction: normal;
  color: #1636ff;
  font-size: 2rem;
  padding: 5px;
}

.social-instagram{
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 0;
  font-size: 0;
  border: 5px solid #1636ff;
  padding-bottom: 2em;
}

.itme-container{
  display: flex;
  width: 85.875rem;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
}

.photoone{
width: 255.34px;
height: 201.34px;
}

.footer{
display: flex;
padding: 2.5%;
position: relative;
width: 100%;
height: 18rem;
-webkit-box-orient: vertical;
-webkit-animation-direction: normal;
flex-direction: column;
background: #0025ff;
color: #fff;
font-family:Helvetica, sans-serif;
font-weight: 400;
justify-content: center;
align-items: center;
}


.footer-container{
  display: flex;
  width: 90%;
  height: 212px;
  justify-content: space-between;
  align-items: inherit;
  /*border: 2px solid black;*/
}

.footer-logo{
  display: block;
  width: 10%;
  height: 101px;
  /*border: 2px solid #fff;*/
}

.footer-image{
  width: 101px;
  height: 101px;
}

.footer-list{
  margin: 0;
  list-style: none;
  column-count: 3;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}
.ul-list{
  width: 50%;
  text-transform: uppercase;
}

.comon-list{
  margin-bottom: 0.6rem;
  list-style: none;
  line-height: 0;
}


.list-item{
font-size: 0.5rem;
margin-bottom: 1rem;
/*white-space: nowrap;*/
}

.footer-right{
  display: flex;
  width: 35%;
  height: 64px;
  justify-content: inherit;
  align-items: center;
  /*border: 2px solid #fff;*/
}

.instagram{
  width: 32px;
  height: 32px
}